*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background: whitesmoke;
	color: #454545;
}

main {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 0 auto;
	width: 90%;
}

.locale {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 0 auto;
}

.currentIcon {
	align-self: auto;
	display: flex;
	flex: 0 1 auto;
	margin: 0;
	order: 0;
}

.currentWeatherIcon {
	margin: auto;
}

.currentTemp {
	flex-direction: row;
}

.currentTemp h1 {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}



.flex-row1,
.flex-row2,
.flex-row3,
.flex-row4,
.flex-row5 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}




.latitude,
.longitude,
.elevation,
.visibility,
.precipitation,
.pressure,
.humidity,
.dewpoint,
.wind,
.windchill{
	margin: auto;
}

.pressure {
}

.latitude::before,
.longitude::before,
.elevation::before,
.visibility::before,
.precipitation::before,
.pressure::before,
.humidity::before,
.dewpoint::before,
.wind::before,
.windchill::before{
	align-self: auto;
	flex: 0 1 auto;
	margin-left: 2.5rem;
}

.latitude::before{
	content:url('../../assets/icons/latitude.png');
	order: 1;
}

.longitude::before{
	content:url('../../assets/icons/longitude.png');
	order: 2;
}

.elevation::before{
	content:url('../../assets/icons/elevation.png');
	order:1;
}

.visibility::before{
	content:url('../../assets/icons/visibility.png');
	order: 2;
}

.precipitation::before{
	content:url('../../assets/icons/precipitation.png');
	order: 1;
}

.pressure::before{
	content:url('../../assets/icons/pressure.png');
	order: 2;
}

.humidity::before{
	content:url('../../assets/icons/humidity.png');
	order: 1;
}

.dewpoint::before{
	content:url('../../assets/icons/dewpoint.png');
	order: 2;
}

.wind::before{
	content:url('../../assets/icons/wind.png');
	order: 1;
}

.windchill::before{
	content:url('../../assets/icons/windchill.png');
	order: 2;
}







.btn-outline {
	color: #b4ecb4;
}

.page {
	margin-left: auto;
	margin-right: auto;
}

.nextQuote {
	margin-top: 25vh;
	position: relative;
}

.content {
	margin-top: 10vh;
	position: relative;
}

.quote {
	color: #ffd1dc;
	font-family: 'Stint Ultra Expanded', cursive;
}

.quote:after,
.quote:before {
	color: #7ea4b3;
	font-family: fontAwesome;
	font-size: calc(100vmax / 108 * 5);
	font-weight: bold;
	line-height: 1;
	position: absolute;
}

.quote:after {
	content: "\f10e";
	right: -5rem;
	transform: translateY(-100%)
}

.quote:before {
	content: "\f10d";
	left: -5rem;
}

blockquote {
	margin: 1rem 4rem;
	text-align: left;
}

.meta {
	margin: 0 4rem;
	text-align: left;
}

.author {
	color: #aec6cf;
	font-family: 'Rock Salt', cursive;
}

.source a {
	color: #fefec8
}

.tweetQuote {
	margin-bottom: 10rem;
	margin-top: 10vh;
	position: relative;
}

footer {
	background: lightblue;
	bottom: 0;
	color: whitesmoke;
	height: 6rem;
	margin: 0;
	position: fixed;
	left: 0;
	width: 100%;
}

footer ul,
footer p {
	margin: 0;
	padding-top: 1rem;
}

footer p {
	padding: 1rem 0;
}

footer ul li i {
	color: black;
}

.info {
	cursor: pointer;
}

.modal {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.modal-content {
	background-color: #ffd1dc;
	border: 1px solid #888;
	color: #09203f;
	margin: 15% auto;
	padding: 20px;
	width: 80%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

@media screen and (orientation: landscape) {
	html,
	.modal-content {
		font-size: calc(100vw / 136);
	}
	.page {
		max-width: 50vw;
	}
	.quote:after,
	.quote:before {
		font-size: calc(100vw / 136 * 5);
	}
	.quote:after {
		right: -5rem;
	}
	.quote:before {
		left: -5rem;
	}
}

@media screen and (orientation: portrait) {
	html,
	.modal-content {
		font-size: calc(100vw / 50);
	}
	.page {
		max-width: 75vw;
	}
	blockquote {
		margin: 1rem 0;
	}
	.quote:after {
		right: 0rem;
		transform: translateY(0%)
	}
	.quote:before {
		left: 0rem;
		transform: translateY(-100%)
	}
	.meta {
		margin: 0;
	}
}
